@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  /* background-color: var(--White); */
/* background-color: rgb(135, 135, 135); */
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}
main {
  position: relative;
  /* background-color: rgb(33, 77, 104); */
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.topimg {
  /* background-color: white; */
  background-image: url("images/bg-pattern-top-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height:10vh;
    width:100%; */
    height: 37%;
    width: 69%;
  position: absolute;
  z-index: 2;
}
.bottomimg {
  /* background-color: white; */
  background-image: url("images/bg-pattern-bottom-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height:10vh;
    width:100%; */
    height:90%;
    width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.container {
  /* background-color: rgb(223, 202, 202); */
  display: flex;
  flex-direction: column;
  width: 1000px;
  /* margin-bottom:1rem; */
  margin: auto;
  /* margin-top:5%; */
  padding: 0.4rem;
  position: relative;
  z-index: 99;
  /* position: absolute; */
  /* top:0px */
}
.first {
  display: flex;
  /* width: ; */
  /* border:2px solid black; */
  height: 200px;
  justify-content: space-between;
  padding: 0.3rem 3rem 0.3rem 0rem;
}
.first .left {
  /* border:2px solid rgb(6, 0, 125); */
  display: flex;
  flex-direction: column;
}
.first .left h1 {
  /* border:2px solid rgb(0, 0, 0); */
  font-size: 2.6rem;
  color: var(--Very-Dark-Magenta);
  font-weight: 900;
  line-height: 0.8;
  margin-bottom: 1.5rem;
}
.first .left p {
  /* border:2px solid rgb(0, 0, 0); */
  width: 380px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--Dark-Grayish-Magenta);
}

.first .right {
  /* border:2px solid rgb(172, 0, 0); */
  /* width:300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}

.right .star1 {
  /* border:2px solid rgb(20, 0, 172); */
  padding: 0.6rem 0rem;
  width: 300px;
  margin-right: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: var(--Light-Grayish-Magenta);
  /* text-align: center; */
}

.right .star2 {
  /* border:2px solid rgb(20, 0, 172); */
  padding: 0.6rem 0rem;
  width: 300px;
  margin-left: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: var(--Light-Grayish-Magenta);
  /* text-align: center; */
}
.right .star3 {
  /* border:2px solid rgb(20, 0, 172); */
  padding: 0.6rem 0rem;
  width: 300px;
  margin-left: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: var(--Light-Grayish-Magenta);
  /* text-align: center; */
}
.star-images {
  /* background-color: rgb(0, 0, 0); */
  display: flex;
}
.star-images > img {
  width: 12px;
  height: 12px;
  margin-right: 0.3rem;
}

.second {
  display: flex;
  /* border:2px solid black; */
  height: 250px;
  justify-content: center;
  margin-top: 4rem;
  color: var(--Light-Grayish-Magenta);
}
.second > section {
  width: 296px;
  background-color: var(--Very-Dark-Magenta);
  margin-right: 2rem;
}
h3 {
  color: var(--White);
  font-size: 0.8rem;
  word-spacing: 5px;
}
h5 {
  color: var(--Soft-Pink);
  /* font-size:rem; */
}
.second .user1 {
  /* border:2px solid rgb(6, 0, 125); */
  border-radius: 8px;
  margin-bottom: 3rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user1 .user1head {
  /* border:2px solid rgb(6, 0, 125); */
  display: flex;
  /* border-radius: 8px; */
  width: fit-content;
  /* margin-bottom:0.5rem; */
}
.user1head img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /* border:2px solid rgb(6, 0, 125); */
  margin-right: 1rem;
}
.user1head .details1 {
  /* border:2px solid rgb(0, 163, 65); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user1 p {
  font-size: 0.9rem;
  line-height: 1.2;
}
.second .user2 {
  /* border:2px solid rgb(244, 0, 110); */
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user2 .user2head {
  display: flex;
  width: fit-content;
  /* margin-bottom:0.5rem; */
}
.user2head img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 1rem;
}
.user2head .details2 {
  /* border:2px solid rgb(0, 163, 65); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user2 p {
  font-size: 0.9rem;
  line-height: 1.2;
}
.second .user3 {
  /* border:2px solid rgb(0, 174, 38); */
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user3 .user3head {
  display: flex;
  width: fit-content;
  /* margin-bottom:0.5rem; */
}

.user3head img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 1rem;
}

.user3head .details3 {
  /* border:2px solid rgb(0, 163, 65); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user3 p {
  font-size: 0.9rem;
  line-height: 1.2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: 98;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width:1000px){
    .topimg {
        background-image: url('images/bg-pattern-top-mobile.svg');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:40%;
    }
    .bottomimg{
        background-image: url('images/bg-pattern-bottom-mobile.svg');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:50%;
    }
    .container {
        margin:5% auto;
        width:70%;
        padding: 0;
        /* background-color: rgb(114, 85, 85); */
        /* height:fit-content; */
      }
      .container .first {
        /* background-color: rgb(186, 75, 75); */
        display: flex;
        flex-direction: column;
        height:fit-content;
        padding:0;
        text-align: center;
      }
      .first .left h1{
        /* border:2px solid rgb(0, 163, 65);  */
        /* width: fit-content; */
        font-size:2rem;
        /* margin:1rem auto; */
      }
      .first .left p{
        /* border:2px solid rgb(56, 87, 68);  */
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin: 0.3rem 1rem;
      }
      .first .right{
        padding:0;
        justify-content:space-around;
      }
      .right .star1{
        margin:1rem auto;
        flex-direction: column;
       /* width:70%; */
      }
      .right .star2{
        margin:0 auto;
        flex-direction: column;
        /* width:70%; */
      }
      .right .star3{
        margin:1rem auto;
        flex-direction: column;
        /* width:70%; */
      }
      .container .second{
        /* border:2px solid rgb(56, 87, 68);  */
        display: flex;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items:center;
      }
      .second > section {
        width: 296px;
        background-color: var(--Very-Dark-Magenta);
        margin-right: 2rem;
      }
      .second .user1{
        margin:1rem auto;
        padding:2rem 1.4rem;
        width:350px;
        
      }
      .user1 .user1head{
        margin-bottom:0.6rem;
      }
      .second .user2{
        margin:0 auto;
        padding:2rem 1.4rem;
        width:350px;
      }
      .user2 .user2head{
        margin-bottom:0.6rem;
      }
    
      .second .user3{
        margin: 1rem auto;
        padding:2rem 1.4rem;
        width:350px;
      }
    
      .user3 .user3head{
        margin-bottom:0.6rem;
      }
}
@media only screen and (max-width:500px) {
    .topimg {
        background-image: url('images/bg-pattern-top-mobile.svg');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:23%;
    }
    .bottomimg {
        background-image: url('images/bg-pattern-bottom-mobile.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 31%;
    }
  .container {
    margin:5% auto;
    width: 340px;
    padding: 0;
    /* height:fit-content; */
  }
  .container .first {
    display: flex;
    flex-direction: column;
    height:fit-content;
    padding:0;
    text-align: center;
  }
  .first .left h1{
    width: fit-content;
    font-size:2rem;
    margin:1rem auto;
  }
  .first .left p{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0.3rem 1rem;
  }
  .first .right{
    padding:0;
    justify-content:space-around;
  }
  .right .star1{
    margin:0.5rem auto;
    flex-direction: column;
   
  }
  .right .star2{
    margin:0 auto;
    flex-direction: column;
    
  }
  .right .star3{
    margin:0.5rem auto;
    flex-direction: column;
    
  }
  .container .second{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .second .user1{
    margin:1rem auto;
    padding: 2.3rem;
    width:fit-content;
  }
  .user1 .user1head{
    margin-bottom:0.6rem;
  }
  .second .user2{
    margin:0 auto;
    padding: 2.3rem;
    width:fit-content;
  }
  .user2 .user2head{
    margin-bottom:0.6rem;
  }

  .second .user3{
    margin: 1rem auto;
    padding: 2.3rem;
    width:fit-content;
  }

  .user3 .user3head{
    margin-bottom:0.6rem;
  }
}
